[user]
	name = wass80
	email = wasss80@gmail.com
[color]
    ui = auto
[alias]
    a = add
    aa = add -A
    ap = add -p
    c = commit -v
    ca = commit -a -v
    cam = commit -a --amend
    cm = commit -m
    co = checkout
    cpm = commit -pm
    d = diff --word-diff
    df = diff
    dh = diff HEAD^ --word-diff
    dm = diff master --word-diff
    ds = diff --staged --word-diff
    f = fetch
    fp = fetch --prune
    ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >> .gitignore
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(white)%s%C(reset) %C(ul white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(bold green)(%ar)%C(reset)' --all
    lgs = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(white)%s%C(reset) %C(ul white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(bold green)(%ar)%C(reset)'
    s = status --short --branch
    sh = show
    so = remote show origin
    st = status
    p = !git push origin `git rev-parse --abbrev-ref HEAD`
    br = branch
    brmd ="!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
[help]
	autocorrect = 1
[core]
	editor = vim
	pager = LESS=-R less
	filemode = false
[merge]
	ff = false
[pull]
	rebase = true
[push]
	default = simple
[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
